.single-album-card {
  padding: 10px;
  margin: 10px;
}

.nft-cards-container {
  background-color: var(--main-bg-color);
}

.details-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-title {
  font-family: "DarkMagic";
  text-align: center;
  font-size: 1.7rem !important;
}

.details-bot a {
  color: white;
}
