:root {
  --main-bg-color: #131019;
  --secondary-color: #452f6b;
  --accent-color: #d9ac18;
  --alternative-accent-color: #ffffff;
}
.info-container {
  margin: 3rem;
}
.info-font-face-magic {
  font-family: "DarkMagic";
  font-size: 2.5rem;
  color: var(--accent-color);
  margin-bottom: 1px;
}
.info-text {
  color: var(--accent-color);
}
