.navbar {
  background-color: #131019;
  height: 80px;
  display: flex;
  justify-content: start;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: #131019;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 250ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  /* color: #d9ac18; */
}
.nav-text a {
  text-decoration: none;
  color: #d9ac18;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  border-color: #d9ac18;
  border-width: 3px;
  border-style: solid;
  background-color: #302643;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #131019;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}
