:root {
  --main-bg-color: #131019;
  --secondary-color: #452f6b;
  --accent-color: #d9ac18;
  --alternative-accent-color: #ffffff;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-right: 1rem;
  position: fixed;
  right: -100%;
}

.nav-menu-items {
  margin: 0 !important;
  padding: 0 !important;
  align-self: center;
}

.nav-menu.active {
  right: 0;
  transition: 500ms;
}
.nav-text {
  display: inline;
  list-style: none;
  font-size: 20px;
  margin: 20px;
}
.nav-text a {
  text-decoration: none;
  color: var(--accent-color);
}

.nav-text a:hover {
  color: var(--alternative-accent-color);
}

span {
  margin-left: 1rem;
}

@media only screen and (max-width: 855px) {
  .nav-menu {
    align-self: flex-end;
    padding-bottom: 0.5rem;
  }
}
