:root {
  --main-bg-color: #131019;
  --secondary-color: #452f6b;
  --accent-color: #d9ac18;
  --alternative-accent-color: #ffffff;
}

body {
  background-color: var(--main-bg-color) !important;
  min-height: 100vh;
}

.App {
  height: 100vh;
  overflow: auto;
  text-align: center;
  background: var(--main-bg-color);
}

.container {
  height: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.font-face-magic {
  font-family: "DarkMagic";
  font-size: 90px;
  color: var(--alternative-accent-color);
  margin-bottom: 1px;
}

.header-container img {
  height: 400px;
  width: auto;
  margin-top: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-header-text {
  margin: 0;
  font-family: "Kings", cursive;
  font-size: 70px;
  color: var(--accent-color);
}

.sub-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 20px;
  color: var(--accent-color);
}

.cta-button {
  height: 45px;
  border: 0;
  width: 25%;
  min-width: 250px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-color);
  border: solid var(--alternative-accent-color) 2px;
  align-self: center;
  margin-bottom: 10px;
  /* background: -webkit-linear-gradient(
    left,
    var(--accent-color),
    rgb(167, 0, 167),
    var(--secondary-color)
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite; */
  background-color: var(--secondary-color);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.logo-header {
  background-color: var(--main-bg-color);
  padding-left: 1rem;
  display: flex;
  height: 170px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-header img {
  cursor: pointer;
  height: 150px;
  width: auto;
  align-self: center;
}

.logo-header h2 {
  color: var(--accent-color);
  align-self: center;
  margin-left: 1rem;
  font-family: "DarkMagic";
  font-size: 70px;
}

.error {
  color: var(--alternative-accent-color);
}

.card-details {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-card {
  padding: 10px;
  margin: 10px;
}

.front-title {
  margin-top: 10px;
}

.slider-container {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--alternative-accent-color);
  top: 170px;
  position: sticky;
  z-index: 1;
  padding-bottom: 10px;
}

.view-label {
  margin-right: 1rem;
}

.back-to-album {
  background-color: var(--main-bg-color);
  position: sticky;
  top: 180px;
  z-index: 1;
}

.back-to-album a {
  color: var(--alternative-accent-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.back-to-album a:hover {
  color: var(--accent-color);
}

.modal-content {
  background-color: var(--secondary-color) !important;
  color: var(--alternative-accent-color);
}

.modal-content .cta-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.modal-content a {
  color: var(--accent-color);
}
/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
.menu-icon {
  color: #d9ac18;
  align-self: center;
  justify-content: end;
  display: flex;
}
